<div class="usersearch">

    <div id='searchbox'>
      <input type='text' id='search' placeholder='searchforfriends'/>
    </div>

    <div id='searchresult'>
    </div>
</div>

<div class="selectfriends">

  
</div>