<div class ="header">
  <h1 id="logo"> Sunshine </div>
<div class="login">
<%= link_to 'Sign Out',  destroy_user_session_path %>
<%= link_to 'Sign In', user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
</div>

<div class="welcome">
	<h2> Welcome to Outdoorsy </h2> 
</div>

<div class="usersearch">

		<div id='searchbox'>
			<input type='text' id='search' placeholder='searchforfriends'/>
		</div>

		<div id='searchresult'>
		</div>
</div>

<div class="selectfriends">

	
</div>

</div>


