<h1 id="logo"> Sunshine </div>


<div id="googlemap">
<div id="map-canvas">
</div>
</div>
<div id="droparea">
</div>
<div id="mainpage">

Select a date: 
<input id="datepicker" type="text" />
<input type="submit" value="Create a Day Out" /> 



<%= render :partial => 'events/form' %>

<h2>Outdoor Restaurants</h2>

<div id="restaurants">

<ul id="restaurantslist" class="fly-simplified">
<% @restaurants.each do |restaurant| %>
<%= render :partial => 'restaurants/restaurant', :locals => {:restaurant => @restaurant} %>
<% end %>
</ul>
</div>



<div id="parkslist">
<h2>Parks</h2>

<ul id="parkappend" class="fly-simplified">

<% @parks.each do |park| %>

<%= render :partial => 'outdoor_areas/park', :locals => {:park => park} %>


<% end %>
</ul>

</div> 


<h1>Events</h1>
<div id="meetups" style="overflow: scroll; width: 850px; height: 200px;">
<% @meetups.each do |meetup| %>
<%= render :partial => 'meetups/meetup', :locals => {:meetup => @meetup} %>
<% end %>





</div>
</div>
