<h1 id="logo"> Sunshine </div>


<div id="googlemap">
<div id="map-canvas">
</div>
</div>

<div id="mainpage">

<%= render :partial => 'events/form' %>

<h1>Outdoor Restaurants</h1>

<div id="restaurants">
<% @restaurants.each do |restaurant| %>
<%= render :partial => 'restaurants/restaurant', :locals => {:restaurant => @restaurant} %>
<% end %>
</div>


<h1>Events</h1>
<div id="meetups">


<% @meetups.each do |meetup| %>
<%= render :partial => 'meetups/meetup', :locals => {:meetup => @meetup} %>
<% end %>

</div>
</div>

