#header{
height:90px;
width: 100%;
background-color: #F5CC00;
background-size: 200px;
position: fixed;
top:0px;
}

* {
 font-family: 'Jacques Francois', sans-serif;
}

body{
  margin: 0;
  height: 100%;
}

html{
  height: 100%;
}

h1#logo {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  padding-left:30px;
  padding-top:15px;
  height: 65px;
  font-size: 50px;
}

#search{
  padding-left: 30px;
  padding-top:10px;
  width: 320px;
   height: 50px;
   margin-left: 5px;
   border: 5px solid white;
   background-color: #F00000 ;
     color: white;
  font-size: 20px;
   resize: none;
}

#search:focus{
  outline: #F00000 solid thin;
}


// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
