#header{
height:80px;
width: 100%;
// background-color: #F5CC00;
background-size: 200px;
position: fixed;
top:0px;


background: #fefcea url(http://www.aperfectworld.org/clipart/weather/sun15.png) no-repeat top right; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

* {
 font-family: 'Jacques Francois', sans-serif;
}

#createbutton{
    // height: 120px;
    // width:150px;
    // background-color: red;
    // position:fixed;
    // right:0px;
    margin-top: 10px;
    // padding-top:100px;
}

#popup{
  height: 80%;
  width: 55%;
  background-color: white;
  position: fixed;
  z-index:100;
  top:150px;
  left: 0px;
  
  border-top-right-radius:3em;
  border-bottom-right-radius:3em;
  display: none;

  -moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
}

body{
  margin: 0;
  height: 100%;
  background-color: #E8FFB9;

  // background: url('sunshine.jpg') no-repeat center center fixed; 
}

html{
  height: 100%;
}

h1#logo {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F00000;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  padding-left:30px;
  padding-top:0px;
  height: 65px;
  font-size: 50px;
}

h2 {
  color: #D63C00;

font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
padding-left: 10px;
}


#areasearch{
  padding-left: 20px;
  padding-top:10px;
  width: 540px;
   height: 50px;
   margin-left: 5px;
   border: 5px solid white;
   background-color: #52D9F7;
     color: white;
  font-size: 20px;
   resize: none;
}

#areasearch:focus{
  outline: #00FF00 solid thin;
}

.locationbar{
  height:40px;
  width: 240px;
  background-color: #FFA92F ;
  padding-left: 30px;
  padding-top:5px;
  margin: 5px;
  color: #8F0000;
  font-size: 15px;
  // border: 5px solid white;
}

li.locationbarmeetup{
  width:700px;
}

#restaurants{
  // height: 400px;
}

#mainpage{
  margin-left: 50px;
  margin-right: 50px;
}

#map-canvas{
  height:100%;
  width: 100%;
}

#googlemap{
  height:430px;
  width: 600px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 80px;
}

#droparea{
  height: 300px;
  width: 600px;
  background-color: white;
  border: 0px solid black;
  display: inline-block;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

ul#meetups{


  width: 570px;
  // list-style: none;

  // position: relative;
  // margin: 0;
  // padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul {

  position: relative;
  width: 300px;
  height: 240px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}
  li {
    position: relative;
    // padding: 16px;
    // background: #eee;
    // color: #252525;
    // font-size: 18px;
    z-index: 2;
     height:44px;
  width: 255px;
  background-color: #FFA92F ;
  padding-left: 10px;
  padding-top:5px;
  margin: 5px;
  color: #8F0000;
  font-size: 15px;

    -webkit-transform: translateZ(0px);
       -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
         -o-transform: translateZ(0px);
            transform: translateZ(0px);
  }

  #parkslist {
    position: absolute;
    top: 135px;
    left: 350px;
  }

  ul #meetups {
  width:600px;
  }

   li #meetup {
  width:600px;
  }

#rating {
position: absolute;
top: 26px;
right: 5px;
background-color: white;
padding: 2px;
padding-bottom: 0px;
padding-right: 1px;
border-radius: 3px;

}

#datepicker {
  margin: 10px;
}

.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 1em .5em .5em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

  // ul li:nth-child(odd) {
  //   background: #fff;
  // }

// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
