#header{
height:75px;
width: 100%;
// background-color: #F5CC00;
background-size: 200px;
position: fixed;
top:0px;


background: #fefcea url(http://www.aperfectworld.org/clipart/weather/sun15.png) no-repeat top right; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fefcea 0%,#f1da36 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

* {
 font-family: 'Jacques Francois', sans-serif;
}

body{
  margin: 0;
  height: 100%;
  // background-color:#e0eaff;

  // background: url('sunshine.jpg') no-repeat center center fixed; 
}

html{
  height: 100%;
}

h1#logo {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F00000;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  padding-left:30px;
  padding-top:15px;
  height: 65px;
  font-size: 50px;
}

#areasearch{
  padding-left: 30px;
  padding-top:10px;
  width: 550px;
   height: 50px;
   margin-left: 5px;
   border: 5px solid white;
   background-color: #F00000 ;
     color: white;
  font-size: 20px;
   resize: none;
}

#areasearch:focus{
  outline: #F00000 solid thin;
}

.locationbar{
  height:40px;
  width: 240px;
  background-color: #FA8816 ;
  padding-left: 30px;
  padding-top:5px;
  margin: 5px;
  color: white;
  font-size: 15px;
  // border: 5px solid white;
}

.locationbar#meetup{
  width:800px;
}

#restaurants{
  // height: 400px;
}

#mainpage{
  margin-left: 50px;
  margin-right: 50px;
}

#map-canvas{
  height:100%;
  width: 100%;
}

#googlemap{
  height:400px;
  width: 600px;
  display: inline-block;
  position: fixed;
  right: 0px;
  top: 76px;
}

#droparea{
  height: 300px;
  width: 595px;
  background-color: white;
  border: 1px solid black;
   display: inline-block;
  position: fixed;
  bottom: 5px;
  right: 0px;
}

#rating {
  background-color: red;
}

ul {

  position: relative;
  width: 300px;
  height: 240px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}
  li {
    position: relative;
    // padding: 16px;
    // background: #eee;
    // color: #252525;
    // font-size: 18px;
    z-index: 2;
     height:30px;
  width: 240px;
  background-color: #FA8816 ;
  padding-left: 20px;
  padding-top:5px;
  margin: 5px;
  color: white;
  font-size: 15px;

    -webkit-transform: translateZ(0px);
       -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
         -o-transform: translateZ(0px);
            transform: translateZ(0px);
  }

  #parkslist {
    position: absolute;
    top: 173px;
    left: 350px;
  }
  // ul li:nth-child(odd) {
  //   background: #fff;
  // }

// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
